<div
  class="flex flex-col gap-2 items-stretch justify-start border-l border-r border-[var(--color-border)] w-full min-h-screen pt-4 lg:pt-4 pt-16"
>
  <div class="flex gap-2 justify-center sticky top-0 bg-[var(--color-bg)] z-10 py-2 px-2">
    <h1 class="text-center font-bold">For you</h1>
    <div
      class="bg-[var(--color-input)] text-[var(--color-text)] border-[var(--color-border)] border p-1 rounded-full pulse"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
      </svg>
    </div>
  </div>

  <app-create-post></app-create-post>

  <div class="flex max-w-full gap-2 justify-center py-2 px-2">
    <select
      (change)="onChangeSort($event)"
      [value]="sort()"
      class="bg-[var(--color-input)] text-[var(--color-text)] border-[var(--color-border)] border p-2 rounded-lg text-sm flex-1 max-w-[100px]"
    >
      <option value="recent" class="bg-[var(--color-input)]">Recent</option>
      <option value="likes" class="bg-[var(--color-input)]">Likes</option>
    </select>

    <input
      type="text"
      [value]="userName()"
      #searchBox
      class="bg-[var(--color-input)] text-[var(--color-text)] border-[var(--color-border)] border p-2 rounded-lg text-sm flex-1 max-w-[130px]"
      placeholder="Search by user..."
    />

    <button
      (click)="onSearch(searchBox.value)"
      class="bg-[var(--color-primary)] text-white p-2 rounded-lg text-sm md:px-4 px-2"
    >
      Search
    </button>

    <button
      (click)="onReset()"
      class="bg-[var(--color-danger)] text-white p-2 rounded-lg text-sm md:px-4 px-2"
    >
      Reset
    </button>
  </div>

  @for (item of posts(); track item._id) {
    <app-post
      [title]="item.title"
      [content]="item.message"
      [imageUrl]="item.photo"
      [author]="item.author.username"
      [authorId]="item.author._id"
      [authorPhoto]="item.author.photo"
      [date]="item.createdAt"
      [id]="item._id"
      [likes]="item.likes"
      [likeCount]="item.likeCount"
      [commentCount]="item.commentCount"
      [comments]="item.comments"
      [mediaType]="item.mediaType"
    />
  }

  <div #scrollSentinel class="h-10 flex justify-center items-center text-sm text-gray-500">
    @if (hasMorePosts()) {
      <p>Load more posts...</p>
    } @else {
      <p>No more posts to load.</p>
    }
  </div>

  @if (loading()) {
    <div
      class="fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center backdrop-blur-sm"
    >
      <spinner></spinner>
    </div>
  }
</div>
